@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --text-color: #666666;
  --bg-color: #d8d8d8;
  --inactive-color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.head-title {
  text-align: center;
  color: #3c3c3c;
  font-size: 32px;
  margin: 24px 0 48px;
  font-weight: 700;
}

.container {
  padding: 0 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
